<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

  <comment>Template configuration file</comment>

  <!-- General details -->
  <entry key="bot-name">SOWN-Bot-UNNAMED</entry>
  <entry key="irc-host">irc.example.org</entry>
  <entry key="irc-chan">#sown</entry>
  <entry key="listen-port">4444</entry>

  <!-- IRC logging database credentials -->
  <entry key="log-db-host">127.0.0.1</entry>
  <entry key="log-db-user">sownbot</entry>
  <entry key="log-db-pass">CHANGEME</entry>
  <entry key="log-db-name">sownbot</entry>

  <!-- Operator management database credentials -->
  <entry key="autoop-db-host">127.0.0.1</entry>
  <entry key="autoop-db-user">sownbot</entry>
  <entry key="autoop-db-pass">CHANGEME</entry>
  <entry key="autoop-db-name">sownbot</entry>

  <!-- Subversion reporting database credentials -->
  <entry key="svn-db-host">127.0.0.1</entry>
  <entry key="svn-db-user">sownbot</entry>
  <entry key="svn-db-pass">CHANGEME</entry>
  <entry key="svn-db-name">svn</entry>

  <!-- Git reporting database credentials -->
  <entry key="git-db-host">127.0.0.1</entry>
  <entry key="git-db-user">sownbot</entry>
  <entry key="git-db-pass">CHANGEME</entry>
  <entry key="git-db-name">git</entry>

  <!-- Events management -->
  <entry key="events-uri">https://www.example.org</entry>

  <!-- Icinga monitoring -->
  <entry key="icinga-db-host">127.0.0.1</entry>
  <entry key="icinga-db-user">sownbot</entry>
  <entry key="icinga-db-pass">CHANGEME</entry>
  <entry key="icinga-db-name">icinga</entry>
  <entry key="icinga-api-uri">https://icinga.example.org:8080</entry>

</properties>
